@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Rubik 80s Fade';
  src: url('/fonts/Rubik80sFade-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik Pixels';
  src: url('/fonts/RubikPixels-Regular.ttf') format('truetype'),
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --decorative-font:'Rubik Pixels', system-ui;
  --standard-font:'Roboto Mono', monospace;
  --header-font:"Rubik", serif;

  --primary-color:#0b4c7e;
  --secondary-color:rgb(255,182,66);
  --highlight-color:#1c2c49;
  --highlight2-color:#fff773;
  --third-color:#4871ba;
}

.text-shadow-black {
  text-shadow:1px 1px 2px black, 1px 1px 1px black
}
.text-shadow-white {
  text-shadow:1px 1px 2px white, 1px 1px 1px white
}
 body, p, div, span, input, button, section {
  font-family:var(--standard-font)
 }
 h1, h2, h3, h4, h5, h6 {
  font-family:var(--header-font)
 }

.decorative-font {
  font-family:var(--decorative-font);
  font-weight: 400;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hyphen-prefix::before {
  content:"- ";
  justify-content:flex-start;
  margin-left:1rem;
  margin-right:-2rem;
}

@media (min-width: 640px) {
  .hyphen-prefix::before {
    content:"- ";
    justify-content:flex-start;
    margin-left:.5rem;
    margin-right:-1rem;
  }
  .mainPageLayout {
    grid-template-columns:min(25%, 16rem) max(75%, 100% - 16rem);
  }
}